@font-face {
  font-family: "Clear Sans";
  src: url("/fonts/ClearSans-Bold.ttf");
}

body {
  background: #efeff2;
  font-family: "Clear Sans";
  position: relative;
  width: 100%;
  display: block;
}

h1 {
  color: #797980;
  font-size: 80px;

  float: left;
  margin: 0;


}

.container {
  width: 500px;
}

.board {
  text-align: center;
  background: #96B690;
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
  padding: 8px;
  cursor: default;
  height: 500px;

}

p {
  margin-top: 0;
  margin-bottom: 10px;

}

.above-game {
  content: "";
  display: block;
  clear: both;
  font-size: 18px;
}

.instructions {
  float: left;
  margin-bottom: 10px;
}

}

.btn {
  float: right;
}

.cell {
  background: #797980;
  border-radius: 10px;
  border: solid #dadae3;
  color: #eeeeee;

  font-size: 30px;
  margin: 8.5px;


  float: left;
  width: 21.18644%;
  height: 21.18644%;

}

.cell div {
  margin-top: 25px;
}

.bomb-pic {
  height: 50px;
  width: 50px;
}

div {
  display: block;

}

.fb-like {
  margin-left: 40%;
}

.credits {
  font-size: 12px;
}