@font-face {
  font-family: "Clear Sans";
  src: url("/fonts/ClearSans-Bold.ttf");
}

body {
  background: #efeff2;
  font-family: "Clear Sans";
  position: relative;
  width: 100%;
  display: block;
  text-align: center;


}

h1 {
  color: #a69eb0;
  font-size: 100px;

}

.board {
  background: #A9B690;
  text-align: center;
  border-width: 20px;
  margin: 0 auto;
  padding: 8px;
  width: 472px;
  height: 472px;
}

.instructions {
  font-size: 20px;
}



.cell {
  /*background: rgba(238, 238, 218, 0.35);*/
  background: #797980;
  border-radius: 10px;
  border: solid #dadae3;
  color: #eeeeee;
  float: left;
  font-size: 50px;
  margin: 7px;
  width: 100px;
  height: 100px;
}

.cell div {
  margin-top: 15px;
}


blockquote {
  display: inline-block;
}

/*div {
  display: block;
}


*/



